<ion-view title="Competition" ng-controller="HomeCtrl" class="Home">
    <!--<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>-->
    <ion-content class="has-header">
        <!--<button class="button button-block button-positive" ng-click="new=!new">New competition</button>
        <div class="list" ng-show="new">
            <label class="item item-input">
                <input type="text" ng-model="form.name" placeholder="New competition" />
            </label>
            <label class="item item-input">
                <input type="text" pick-a-date="form.created" placeholder="Select Date" />
            </label>
            <button class="button button-block button-positive" ng-click="encode(form)">Created</button>
        </div>
        <ion-list class="lisOfElelemt">
            <ion-item ng-repeat="item in list">
                <div ng-init="item.detail = false; item.edit = false">
                    <div class="row">
                        <div class="col-90 col">
                            <a class="button button-clear button-positive" href="#/app/competition/{{item.id}}" ng-show="!item.edit">
                                <div class="row">
                                    <div class="col-50 col">{{item.name}}</div>
                                    <div class="col-50 col">{{item.created | date : format : timezone}}</div>
                                </div>
                            </a>
                            <div class="row" ng-show="item.edit">
                                <label class="item item-input">
                                    <input type="text" ng-model="item.name" />
                                </label>
                                <label class="item item-input">
                                    <input type="text" pick-a-date="item.created" placeholder="Select Date" />
                                </label>
                            </div>
                        </div>
                        <div class="col-10 col col-center">
                            <span ng-click="item.detail = !item.detail"><i class="fa fa-cog fa-2x"></i></span>
                        </div>
                    </div>
                    <div class="row" ng-show="item.detail">
                        <div class="col-50 col">
                            <button class="button button-positive" ng-show="!item.edit" ng-click="item.edit=!item.edit">
                                edit
                            </button>
                            <button class="button button-positive" ng-show="item.edit" ng-click="item.edit=!item.edit; update(item)">
                                save
                            </button>
                        </div>
                        <div class="col-50 col">
                            <button class="button button-positive" ng-click="remove(item)">
                                delete
                            </button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>-->
        Home
    </ion-content>
</ion-view>